In [28]:
import os
import time
import cv2
import numpy as np
from model.yolo_model import YOLO
import pandas as pd

In [21]:
def process_image(img):
    """Resize, reduce and expand image.

    # Argument:
        img: original image.

    # Returns
        image: ndarray(64, 64, 3), processed image.
    """
    image = cv2.resize(img, (416, 416),
                       interpolation=cv2.INTER_CUBIC)
    image = np.array(image, dtype='float32')
    image /= 255.
    image = np.expand_dims(image, axis=0)

    return image

In [22]:
def get_classes(file):
    """Get classes name.

    # Argument:
        file: classes name for database.

    # Returns
        class_names: List, classes name.

    """
    with open(file) as f:
        class_names = f.readlines()
    class_names = [c.strip() for c in class_names]

    return class_names

In [23]:
def draw(image, boxes, scores, classes, all_classes):
    """Draw the boxes on the image.

    # Argument:
        image: original image.
        boxes: ndarray, boxes of objects.
        classes: ndarray, classes of objects.
        scores: ndarray, scores of objects.
        all_classes: all classes name.
    """
    for box, score, cl in zip(boxes, scores, classes):
        x, y, w, h = box

        top = max(0, np.floor(x + 0.5).astype(int))
        left = max(0, np.floor(y + 0.5).astype(int))
        right = min(image.shape[1], np.floor(x + w + 0.5).astype(int))
        bottom = min(image.shape[0], np.floor(y + h + 0.5).astype(int))

        cv2.rectangle(image, (top, left), (right, bottom), (255, 0, 0), 2)
        cv2.putText(image, '{0} {1:.2f}'.format(all_classes[cl], score),
                    (top, left - 6),
                    cv2.FONT_HERSHEY_SIMPLEX,
                    0.6, (0, 0, 255), 1,
                    cv2.LINE_AA)

        #print('class: {0}, score: {1:.2f}'.format(all_classes[cl], score))
        #print('box coordinate x,y,w,h: {0}'.format(box))

    #print()

In [61]:
if None == None:
    print(i)

147

In [65]:
def detect_image(image, yolo, all_classes):
    """Use yolo v3 to detect images.

    # Argument:
        image: original image.
        yolo: YOLO, yolo model.
        all_classes: all classes name.

    # Returns:
        image: processed image.
    """
    pimage = process_image(image)

    #start = time.time()
    boxes, classes, scores = yolo.predict(pimage, image.shape)
    #end = time.time()
    
    try :
        face = classes.shape[0]
    except AttributeError: 
        face = 0
    #print('time: {0:.2f}s'.format(end - start))
    
    #if boxes is not None:
        
        
        #draw(image, boxes, scores, classes, all_classes)
        #face = classes.shape[0]

    return image, face

In [48]:
yolo = YOLO(0.5, 0.5)
file = 'data/coco_classes.txt'
all_classes = get_classes(file)

/Applications/anaconda3/envs/python-cvcourse/lib/python3.6/site-packages/keras/engine/saving.py:269: UserWarning: No training configuration found in save file: the model was *not* compiled. Compile it manually.
  warnings.warn('No training configuration found in save file: '

In [12]:
all_classes

['person',
 'bicycle',
 'car',
 'motorbike',
 'aeroplane',
 'bus',
 'train',
 'truck',
 'boat',
 'traffic light',
 'fire hydrant',
 'stop sign',
 'parking meter',
 'bench',
 'bird',
 'cat',
 'dog',
 'horse',
 'sheep',
 'cow',
 'elephant',
 'bear',
 'zebra',
 'giraffe',
 'backpack',
 'umbrella',
 'handbag',
 'tie',
 'suitcase',
 'frisbee',
 'skis',
 'snowboard',
 'sports ball',
 'kite',
 'baseball bat',
 'baseball glove',
 'skateboard',
 'surfboard',
 'tennis racket',
 'bottle',
 'wine glass',
 'cup',
 'fork',
 'knife',
 'spoon',
 'bowl',
 'banana',
 'apple',
 'sandwich',
 'orange',
 'broccoli',
 'carrot',
 'hot dog',
 'pizza',
 'donut',
 'cake',
 'chair',
 'sofa',
 'pottedplant',
 'bed',
 'diningtable',
 'toilet',
 'tvmonitor',
 'laptop',
 'mouse',
 'remote',
 'keyboard',
 'cell phone',
 'microwave',
 'oven',
 'toaster',
 'sink',
 'refrigerator',
 'book',
 'clock',
 'vase',
 'scissors',
 'teddy bear',
 'hair drier',
 'toothbrush']

In [9]:
p_image = process_image(image)

In [10]:
p_image.shape

(1, 416, 416, 3)

In [15]:
boxes, classes, scores = yolo.predict(p_image, image.shape)

In [18]:
classes.shape[0]

2

In [26]:
%%time
#path = 'images/test'+f
image = cv2.imread('images/test/10002.jpg')
image, face_count = detect_image(image, yolo, all_classes)
#cv2.imwrite('images/res/' + f, image)

CPU times: user 20 s, sys: 889 ms, total: 20.9 s
Wall time: 15.3 s

In [29]:
train_data = pd.read_csv('/Users/vignaya/Documents/python/Inceptez_Datascience/Class/_11_CNN/Practise/Analytics Vidya Predicting Faces/train_HNzkrPW (1)/train.csv')

In [34]:
test_data = pd.read_csv('/Users/vignaya/Documents/python/Inceptez_Datascience/Class/_11_CNN/Practise/Analytics Vidya Predicting Faces/test_Rj9YEaI.csv')

In [37]:
sample_data = pd.read_csv('/Users/vignaya/Documents/python/Inceptez_Datascience/Class/_11_CNN/Practise/Analytics Vidya Predicting Faces/sample_submission_fChOj3V.csv')

In [35]:
train_data.head()

        Name  HeadCount
0  10001.jpg          4
1  10002.jpg          4
2  10003.jpg          2
3  10004.jpg          3
4  10006.jpg          4

In [36]:
test_data.head()

        Name
0  10005.jpg
1  10009.jpg
2  10015.jpg
3  10022.jpg
4  10023.jpg

In [38]:
sample_data.head()

        Name  HeadCount
0  10005.jpg          5
1  10009.jpg          5
2  10015.jpg          5
3  10022.jpg          5
4  10023.jpg          5

In [39]:
full_path = '/Users/vignaya/Documents/python/Inceptez_Datascience/Class/_11_CNN/Practise/Analytics Vidya Predicting Faces/train_HNzkrPW (1)/image_data/'

In [41]:
full_path+test_data.iloc[0][0]

'/Users/vignaya/Documents/python/Inceptez_Datascience/Class/_11_CNN/Practise/Analytics Vidya Predicting Faces/train_HNzkrPW (1)/image_data/10005.jpg'

In [45]:
image.shape

(407, 612)

In [58]:
test_data.shape

(2463, 1)

In [ ]:
%%time
face_count_1 = []
for i in range(147,2464):
    path = test_data.iloc[i][0]
    image = cv2.imread(full_path+path)
    face_image, num_faces = detect_image(image, yolo, all_classes)
    face_count_1.append(num_faces)
    print(i)

147
148
149
150
151
152
153
154
155
156
157
158
159

In [50]:
face_count

[2, 3, 3]

In [53]:
len(face_count)

147

In [57]:
face_count

[2,
 3,
 3,
 2,
 4,
 5,
 4,
 4,
 4,
 2,
 3,
 7,
 4,
 3,
 1,
 4,
 4,
 2,
 1,
 2,
 2,
 2,
 2,
 2,
 3,
 3,
 2,
 2,
 2,
 1,
 1,
 1,
 5,
 7,
 3,
 6,
 4,
 4,
 4,
 1,
 2,
 4,
 2,
 7,
 4,
 4,
 2,
 3,
 2,
 4,
 2,
 2,
 3,
 3,
 3,
 3,
 5,
 3,
 2,
 4,
 1,
 1,
 5,
 2,
 4,
 3,
 2,
 2,
 4,
 5,
 5,
 5,
 5,
 3,
 1,
 3,
 7,
 1,
 2,
 2,
 2,
 2,
 2,
 3,
 2,
 4,
 7,
 7,
 3,
 2,
 5,
 1,
 4,
 2,
 2,
 4,
 3,
 9,
 4,
 4,
 7,
 6,
 2,
 5,
 2,
 6,
 1,
 2,
 3,
 3,
 6,
 5,
 5,
 6,
 2,
 4,
 3,
 5,
 2,
 2,
 5,
 4,
 3,
 8,
 3,
 2,
 2,
 2,
 2,
 2,
 4,
 3,
 4,
 3,
 3,
 2,
 3,
 5,
 3,
 3,
 3,
 2,
 3,
 2,
 1,
 2,
 2]